
@font-face {
    font-family: 'SFPro-Light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SF-Pro-Display-Light.otf'),
         
  }
  
  @font-face {
    font-family: 'SFPro-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SF-Pro-Display-Regular.otf'),
         
  }
  
  @font-face {
    font-family: 'SFPro-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SF-Pro-Display-Medium.otf'),
         
  }
  
  @font-face {
    font-family: 'SFPro-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SF-Pro-Display-Bold.otf'),
         
  }

  
  
  