.footer{
    background: linear-gradient(to right , #040019, #14007F);
    .footer__container{
        padding: 60px 80px;
        justify-content: center;
        display: flex;
        align-items: start;
        flex-direction: row;
        gap: 18vw;
        .adress{
            display: flex;
            flex-direction: column;
            gap: 1.9rem;
            color: $whiteColor;
            .footer__logo{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.5rem;
                position: relative;
                bottom: 10px;
                h1{
                    font-size: 2rem;
                    font-family: $regular;
                }
            }
            .adress__item{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.5rem;
                a{
                    font-size: 1rem;
                    font-family: $light;
                    &:hover{
                        color:#624AFF;
                        transition: all 0.4s ease-out; 
    
                    }
                }
            }
        }
        .category{
            h1{
                font-size: 2rem;
                color: $whiteColor;
                font-family: $light;
            }
            display: flex;
            flex-direction: column;
            gap: 1.9rem;
            a{
                color: $whiteColor;
                &:hover{
                    color:#624AFF;
                    transition: all 0.4s ease-out; 
    
                }
            }
        }
        .socials{
            .socials__logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.6rem;
                h1{
                    font-size: 2rem;
                    color: $whiteColor;
                    font-family: $light;
                }
                p{
                    color: $whiteColor;
                    font-size: 1rem;
                    font-family: $light;
                }
            }
            .input{
                margin: 50px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                width: 30rem;
                height: 55px;
                background-color: $whiteColor;
                border-radius: 15px;
                input{
                    color: #6B6B6B;
                    font-size: 1rem;
                    border: transparent;
                    width: 19rem;
                    height: 2.3rem;
                }
                button{
                    background-color: $buttonsColor;
                    padding: 9px 20px;
                    border-radius: 15px ;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background-color: #14007F;
                        transition: .3s ease;
                    }
                }
            }
            
            .socials__block{
                display: flex;
                flex-direction: row;
                gap: 1.8rem;
                .social__item{
                    img{
                        &:hover{
                            transform: translateY(-10px);
                            transition: all 0.4s ease-out; 
                        }
                    }
                }
            }
        }
    }
}